head {
   font-family: Georgia, 'Times New Roman', Times, serif; 
   font: 300;
}

body {
  margin: 0;
  transition: background-color .5s;
}

.header{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1cm;
  text-align: center;
  color: aquamarine;
  background-image: linear-gradient(to bottom right, red, yellow);
  background-size: cover;
  opacity: 0.3;
  margin: inherit;
  height: 1.7cm;
  text-shadow: 2px 4px black;
}

ul {
  position: -webkit- sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

.topnav {
  list-style-type: none;
  margin: inherit;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  
}

ul.topnav li {
  float: left;
  list-style-type: none;
}

ul.topnav li a {
  display: block;
  color: cyan;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover {background-color: #111;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 700px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin: inherit;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#main {
  transition: margin-left .5s;
  padding: 0px;
  margin: 0;
}

@media screen and (max-height: 500px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.row {
  display: -webkit- flex;
  display: flex;
}


.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height:max-content; 
}

@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.footer {
  background-color:rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  word-break: keep-all;
  color: #f1f1f1;
}

section {
  display: -webkit- flex;
  display: flex;
}

article {
  line-height: 1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  text-align: justify;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
  word-break: keep-all;
}

.nav1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 100px;
  background: white;
  padding: 20px;
  z-index: -1;
}

.nav2 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 100px;
  background: white;
  padding: 20px;
  z-index: -1;
}

nav ul {
  list-style-type: none;
  padding: 0;
  font-size: 4mm;
}

nav h5 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  word-break: keep-all;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.headertitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
  font-size: x-large;
  padding: 15px;
  text-align: center;
}

.cap {
  font-size: xx-large;
  font-variant: small-caps;
}

.italics {
  font-style: italic;
}

.rickroll {
  text-decoration: none;
}

